<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/Find_password.css" type="text/css">
  <script src="//cdn.bootcss.com/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="../js/function.js"></script>
</head>
<body>

  <div class="container">
    <div class="login-wrapper">
      <div class="header">找回密码</div>
      <div class="form-wrapper">
        <form action="../php/Find_password.php" method="post">
        <input type="text" name="username" placeholder="请输入账号" class="input-item">
        <input type="text" name="email" placeholder="请输入注册的邮箱" class="input-item" id="email">
        <div class="div-allinline">
          <div class="subdiv-allinline"><input type="text" name="captcha" class="input-item" placeholder="请输入验证码" ></div>
          <div class="subdiv-allinline"><input type="button" onclick="sendmailcaptcha()" value="发送验证码" class="btn2"></div>
        </div>
        <input type="password" name="password" placeholder="请输入修改后的密码(6到15个数字与英文字母)" class="input-item">
        <input type="password" name="repassword" placeholder="请重新输入修改后的密码" class="input-item">
        <button class="btn" type="submit"><p class="p">提交修改</p></button>
        </form>
      </div>
    </div>
  </div>


</body>
</html>