<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>顶部搜索框</title>
    <link href="../css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div name="hmtop" class="div-allinline">
        <div name="logo" class="subdiv-allinline">
            <img src="../img/logo.png" height="61" width="150" style="vertical-align:middle">
        </div>
        <div class="subdiv-allinline">
            <form name="" action="">
                <input type="text" id="searchinput" name="bookname" >
                <input type="submit" value="搜索">
            </form>
        </div>
    </div>

</body>
</html>